.cabecalho {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.307);
  border-bottom: 1px solid white;  
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 2rem;
  position: sticky;
  top: 0px;
}
.foto__perfil {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}
