.cabecalho {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.307);
  border-bottom: 1px solid white;  
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem;
  position: sticky;
  top: 0px;
}
.fa-user-large {
  font-size: 4rem;
  color: white;
}

