*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  cursor: pointer;
  height: 60px;
  width: 60px;
}
.hamburguer {
  display: block;
  background: black;
  width: 30px;
  height: 3px;
  position: relative;
  left: 15px;
  top: 30px;
  transition: .5s ease-in-out;
}
.hamburguer::before, 
.hamburguer::after {
  background: black;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}
.hamburguer::before {
  top: -10px;
}
.hamburguer::after {
  bottom: -10px;
}
input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}
input:checked ~ label .hamburguer::before {
  transform: rotate(90deg);
  top: 0px;
}
input:checked ~ label .hamburguer::after {
  transform: rotate(90deg);
  bottom: 0;
}


.menu__lista  {
  position: absolute;
  list-style: none;
  background: rgba(0, 0, 0, 0.282);
  padding: 50px;
  transition: 2s;
  right: 0;
}
li {
  margin-bottom: 20px;
}
.menu__lista-link {
  text-decoration: none;
  color: white;
}