.menu {
  visibility: visible;
  list-style: none;
  position: absolute;
  top: 5rem;
  right: 0;
  background: rgba(0, 0, 0, 0.307);
  width: 0;
  height: calc(50vh - rem);
  transition: .5s;
  text-align: center;
  overflow-y: hidden;
  z-index: 1;
}
.menu__desktop {
  display: none;
}
.menu a {
  display: block;
  padding: 1rem;
  border-radius: .5rem;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  border-radius: 0;
}
.menu a:hover {
  background-color: #48593636;
}
.btn-menu{
  display: none;
}
.hamburguer {
  border-top: 0.150rem solid;
  width: 1.50rem;
  
}
.btn-menu{
  background: none;
  border: none;
  font: inherit;
  display: flex;
  cursor: pointer;
  color: white;
}
.hamburguer::before, .hamburguer::after {
  content: "";
  display: block;
  width: 1.50rem;
  height: .150rem;
  background: currentColor;
  margin-top: .3125rem;
  position: relative;
  transition: .5s;
}
.nav.active .menu {
  width: calc(70vw);
  overflow-y: auto;
}
.nav.active .hamburguer {
 border-top-color: transparent;
}
.nav.active .hamburguer::before {
  transform: rotate(225deg);
  
}
.nav.active .hamburguer::after {
  transform: rotate(-225deg);
  top: -.4375rem;
}
@media screen and (min-width: 540px) {
  .menu__desktop {
    display: flex;
    gap: 1rem;
    list-style: none;
    top: 1rem;
    background: transparent;
    justify-content: flex-end;  
  }
  
  .menu__desktop a {
    border-bottom: none;
    color: white;
    text-decoration: none;
  }
  .menu {
    visibility: hidden;
  }
  .hamburguer {
    display: none;
  }
}
